@import "tailwindcss";

html , body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  @apply bg-[#0A0A0A] font-sans;
}

#menu-icon.rotate-90 {
  transition: transform 0.3s ease;
  transform: rotate(90deg);
}

.menu-closed {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none; /* para que no moleste */
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* menú abierto: visible en su lugar */
.menu-open {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: transform 0.5s ease, opacity 0.5s ease;
  
}

#menu-toggle {
  position: relative; /* para que z-index funcione */
  z-index: 60; /* más alto que el menú */
  
}

#mobile-menu {
  z-index: 50;

}


html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

/* Fix para navegación */
:target {
  scroll-margin-top: 80px; /* Igual que el offset en el componente */
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out both;
}

/*#custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.6); /* blanco semi-transparente 
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.2s ease, background-color 0.2s ease;
  border: 1px solid #ccc;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#custom-cursor.hovering {
  transform: scale(2);
  background-color: rgba(255, 255, 255, 0.3); /* más visible en hover 
}




* {
  cursor: none !important;
}*/





        







