---
import Header from '../components/header.astro';
import Aboutme from '../components/Aboutme.astro';
import Stats from '../components/Stats.astro';
import ProjectCard from '../components/ProjectCard.astro';
import SkillCard from '../components/SkillCard.astro';
import Contact from '../components/Contact.astro'
import '../styles/global.css';
import 'aos/dist/aos.css';



---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Inicio | Lucas Soraire</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link rel="icon" href="public/favicon.ico" type="image/x-icon"/>
	
</head>
  <body class="bg-black text-gray-100 font-sans">
	<Header />
    <main class="pt-15">
			<section id="aboutme" class="scroll-mt-40">
			<Aboutme 
			image= "public/assets/imglucas.png"
			/>
			<Stats />
			</section>
				<h2 class="text-3xl font-bold mb-8 text-center mt-20">Mir치 algunos de mis proyectos.</h2>
				<section class="max-w-6xl mx-auto p-4 grid gap-8 md:grid-cols-2 lg:grid-cols-3 scroll-mt-40" id="proyectos">
				<div data-aos="fade-up" data-aos-delay="100">
				<ProjectCard 
					title="Proyecto 1 - Hotel Niluma 游낃"
					image2="assets/barcoemoji.png"
					description={`Proyecto responsive con varias p치ginas.\nIncluye galer칤a de im치genes y optimizaci칩n SEO.`}
					link="/proyectos/infohotel"
					image="public/assets/hotelnilumauno.png"
				/>
				</div>
				<div data-aos="fade-up" data-aos-delay="200">
				<ProjectCard 
					title="Proyecto 2 - Puerto Barc.Co 游뚹"
					description={'App en Java con conexi칩n a base de datos SQL y funcionalidades CRUD. n\ Trabajado con POO.'}
					link="/proyectos/infopuerto"
					image="public/assets/puertouno.jpg"
				/>
				</div>
				<div data-aos="fade-up" data-aos-delay="300">
				<ProjectCard 
					title="Proyecto 3 - Web Nike 游"
					description={'Landing page moderna en HTML y CSS. n\ Totalmente responsive con una excelente presentaci칩n de productos.'}
					link="https://github.com/tuprojecto3"
					image="public/assets/nikeuno.png"
				/>
				</div>
				</section>

			<section class="max-w-6xl mx-auto px-6 py-16 scroll-mt-5" id="objetivos" data-aos="fade-up">
				<h2 class="text-3xl font-bold mb-3 text-center">Objetivos</h2>
				<p class="text-1xl font-semibold text-center pb-0"> 쯈u칠 es lo que estoy buscando?</p>
				<div class="grid grid-cols-2 md:grid-cols-4 gap-4 auto-rows-[150px] md:auto-rows-[400px] mt-15">
					<SkillCard 
					image="public/assets/potenciar.jpg"
					title="Potenciar ideas escalables"
					description="Siempre hay algo para mejorar y llevar el serivcio/prodcuto a otro nivel"
					spanCols={2}
					/>
					<SkillCard 
					image="public/assets/uxui.jpg"
					title="Dise침o UX/UI"
					description="Mi formaci칩n personal va enfocado 100% a mejorar la experiencia del usuario en cada click"
					/>
					<SkillCard 
					image="public/assets/aplicar.jpg"
					title="Aplicar mis conocimientos"
					description="Aportar a cada proyecto que tenga cada una de las cosas que aprend칤 "
					spanRows={2}
					/>	
					<SkillCard 
					image="public/assets/entorno.jpg"
					title="Colaborar en entornos reales"
					description="Busco trabajar en contextos que me ayuden a crecer tanto personal como profesionalmente. "
					/>
				</div>
			</section>

				<section id="contacto" class="scroll-mt-10">
					<Contact />
				</section>


    </main>

		<footer class="bg-stone-600 py-8 mt-16">
			<div class="max-w-6xl mx-auto px-6 flex flex-col md:flex-row justify-between items-center text-white-700">

				<div class="mb-4 md:mb-0 text-center md:text-left">
				<p class="font-bold text-lg">Contacto</p>
				<p class="font-semibold">Email:</p> <a href="mailto:lucas@example.com" class="text-white-600 hover:underline">lucassoraire100@gmail.com</a>
				<p class="font-semibold">Tel: </p><a href="tel:+541112223334" class="text-white-600 hover:underline">+54 11 3660-6826</a>
				</div>

				<div class="text-center text-sm text-white-500">
				<p>춸 {new Date().getFullYear()} Lucas Soraire - Portfolio. Todos los derechos reservados.</p>
				</div>

			</div>
		</footer>

		<script is:browser type="module" src="/src/scripts/init-aos.js"></script>


  </body>
</html>

