<section class="py-16 bg-black">
  <div class="max-w-6xl mx-auto px-6">
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-6 text-center">
      <div class="p-6 border rounded-xl shadow hover:shadow-lg transition">
        <h3 class="text-5xl font-extrabold text-white-600">+2</h3>
        <p class="mt-1 text-sm text-sky-600 font-bold">Años de carrera</p>
      </div>

      <div class="p-6 border rounded-xl shadow hover:shadow-lg transition">
        <h3 class="text-5xl font-extrabold text-white-600">+4</h3>
        <p class="mt-1 text-sm text-sky-600 font-bold">Proyectos completados</p>
      </div>

      <div class="p-6 border rounded-xl shadow hover:shadow-lg transition">
        <h3 class="text-5xl font-extrabold text-white-600">+5</h3>
        <p class="mt-1 text-sm text-sky-600 font-bold">
          Tecnologías utilizadas
        </p>
      </div>

      <div class="p-6 border rounded-xl shadow hover:shadow-lg transition">
        <h3 class="text-5xl font-extrabold text-white-600">+900</h3>
        <p class="mt-1 text-sm text-sky-600 font-bold">Mates :)</p>
      </div>
    </div>
  </div>
</section>
