---
import '../../styles/global.css';
import Index from '../index.astro';
import GaleriaItem from '../../components/GaleriaItem.astro';
// client:only importa un componente que solo corre del lado del navegador
import ScrollEffect from '../../components/ScrollEffect';
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet" />
        <title>Proyectos - Web Nike</title>
    </head>
    <body>
      <main data-scroll-container>
          <section class="w-full min-h-screen flex flex-col justify-end pb-24 px-6 md:px-12 text-white bg-cover bg-center bg-no-repeat" style="background-image: url('/assets/imgnikefirst.png')">
            <h1 class="text-6xl md:text-8xl font-bold leading-tight" >Web Nike</h1>
            <p class="text-xl md:text-2xl max-w-2xl mt-6 opacity-80" >Una web simple con temática de la marca Nike, tipografía, colores y productos.</p>
          </section>

          <section class="grid grid-cols-1 md:grid-cols-2 gap-4 px-6 py-12 bg-red-800">
            <img src="/assets/imgnikehome.png" class="rounded-xl" />
            <img src="/assets/imgnikeprod.png" class="rounded-xl" />
            <img src="/assets/imgnikesucu.png" class="rounded-xl" />
            <img src="/assets/imgnikecontacto.png" class="rounded-xl" />
          </section>

          <section class="px-6 md:px-12 py-16 space-y-12 bg-neutral-900 text-white">
            <div  >
              <h2 class="text-3xl font-semibold mb-4">01. Gestión de Envíos</h2>
              <p class="text-lg opacity-80">Sistema para registrar, editar y visualizar envíos y barcos que ingresan o salen del puerto, con interfaz intuitiva y adaptable al rol del usuario.</p>
            </div>
            <div >
              <h2 class="text-3xl font-semibold mb-4">02. Acceso Seguro</h2>
              <p class="text-lg opacity-80">Incluye login y control de sesiones. Los administradores tienen permisos exclusivos para modificar o eliminar datos del sistema.</p>
            </div>
            <div  >
              <h2 class="text-3xl font-semibold mb-4" >03. Lógica con Java</h2>
              <p class="text-lg opacity-80">Desarrollado en Java aplicando Programación Orientada a Objetos, con herencia, polimorfismo y separación clara entre lógica y presentación.</p>
            </div>
            <div >
              <h2 class="text-3xl font-semibold mb-4">04. Base de Datos Integrada</h2>
              <p class="text-lg opacity-80">Conectado a MySQL para persistencia de datos en tiempo real. Los cambios se reflejan automáticamente en la interfaz de usuario.</p>
            </div>
            <!-- Más bloques -->
          </section>

          <section class="px-6 md:px-12 py-16 bg-white text-black">
            <h2 class="text-3xl font-bold mb-8">Tecnologías e implementaciones</h2>
            <ul class="grid grid-cols-2 md:grid-cols-4 gap-6 text-lg font-medium">
              <li class="flex items-center gap-2 px-3 py-3 border border-amber-950 rounded-xl text-sm font-medium w-fit bg-white/5">
                <img src="/assets/administracion.png" alt="">Administración de envíos y barcos
              </li>
              <li class="flex items-center gap-2 px-3 py-3 border border-amber-950 rounded-xl text-sm font-medium w-fit bg-white/5">
                <img src="/assets/plano.png" alt="">Diseño con Java swing
              </li>
              <li class="flex items-center gap-2 px-3 py-3 border border-amber-950 rounded-xl text-sm font-medium w-fit bg-white/5">
                <img src="/assets/ajustes.png" alt="">Función de administrador
              </li>
              <li class="flex items-center gap-2 px-3 py-3 border border-amber-950 rounded-xl text-sm font-medium w-fit bg-white/5">
                <img src="/assets/poo.png" alt="">Programación Orientada a Objetos
              </li>
              <li class="flex items-center gap-2 px-3 py-3 border border-amber-950 rounded-xl text-sm font-medium w-fit bg-white/5">
                <img src="/assets/bdd.png" alt="">MySQL
              </li>
              <li class="flex items-center gap-2 px-3 py-3 border border-amber-950 rounded-xl text-sm font-medium w-fit bg-white/5">
                <img src="/assets/java.png" alt="">Java
              </li>
            </ul>
          </section>

          <section class="bg-black text-white py-12 text-center">
            <h2 class="text-3xl font-semibold">¿Te gustó la Web Nike?</h2>
            <p class="opacity-80 mt-2">Conectemos y llevemos tu próximo proyecto al siguiente nivel.</p>
            <a href="/#contacto" class="mt-4 inline-block bg-white text-black px-6 py-3 rounded-xl font-bold">Contacto</a>
            <a href="/#proyectos" class="mt-4 inline-block bg-transparent text-white border border-r-sky-600 hover:bg-sky-600 hover:text-black hover:border-r-sky-600 px-6 py-3 rounded-xl font-bold">Seguir mirando proyectos</a>
          </section>
        </main>
          <script type="module" src="/src/scripts/init-aos.js"></script>
          <ScrollEffect client:only="react" />
    </body>
</html>