---
import '../../styles/global.css';
import Index from '../index.astro';
import GaleriaItem from '../../components/GaleriaItem.astro';

---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet" />
        <title>Proyectos - Puerto Barc.co</title>
    </head>
    <body>
          <section class="w-full min-h-screen flex flex-col justify-end pb-24 px-6 md:px-12 text-neutral-900 bg-cover bg-center bg-no-repeat" style="background-image: url('/assets/puertouno.jpg')">
            <h1 class="text-6xl md:text-8xl font-bold leading-tight" data-aos="fade-right" data-aos-delay="400">Puerto Barc.Co</h1>
            <p class="text-xl md:text-2xl max-w-2xl mt-6 opacity-80" data-aos="fade-right" data-aos-delay="400">Un sistema pensado para los empleados, facilitandoles cada tarea a realizar</p>
          </section>

          <section class="grid grid-cols-1 md:grid-cols-2 gap-4 px-6 py-12 bg-cyan-950">
            <img src="/assets/puertouno.jpg" class="rounded-xl" data-aos="zoom-in" data-aos-delay="100"/>
            <img src="/assets/puertouno.jpg" class="rounded-xl" data-aos="zoom-in" data-aos-delay="200"/>
            <img src="/assets/puertouno.jpg" class="rounded-xl" data-aos="zoom-in" data-aos-delay="300"/>
            <img src="/assets/puertouno.jpg" class="rounded-xl" data-aos="zoom-in" data-aos-delay="400"/>
          </section>

          <section class="px-6 md:px-12 py-16 space-y-12 bg-neutral-900 text-white">
            <div data-aos="fade-up" data-aos-delay="100" >
              <h2 class="text-3xl font-semibold mb-4">01. Brief & Exploración </h2>
              <p class="text-lg opacity-80">Investigamos el mercado, el perfil de clientes y el estilo visual adecuado para el hotel.</p>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" >
              <h2 class="text-3xl font-semibold mb-4">02. Diseño Visual</h2>
              <p class="text-lg opacity-80">Creamos mockups en base a los valores del hotel: elegancia, minimalismo y confort.</p>
            </div>
            <div data-aos="fade-up" data-aos-delay="300" >
              <h2 class="text-3xl font-semibold mb-4" >03. Código e Implementación</h2>
              <p class="text-lg opacity-80">Creamos mockups en base a los valores del hotel: elegancia, minimalismo y confort.</p>
            </div>
            <div data-aos="fade-up" data-aos-delay="400" >
              <h2 class="text-3xl font-semibold mb-4">04. Sistema de Reservas</h2>
              <p class="text-lg opacity-80">Creamos mockups en base a los valores del hotel: elegancia, minimalismo y confort.</p>
            </div>
            <!-- Más bloques -->
          </section>

          <section class="px-6 md:px-12 py-16 bg-white text-black">
            <h2 class="text-3xl font-bold mb-8">Tecnologías e implementaciones</h2>
            <ul class="grid grid-cols-2 md:grid-cols-4 gap-6 text-lg font-medium">
              <li class="flex items-center gap-2 px-3 py-3 border border-amber-950 rounded-full text-sm font-medium w-fit bg-white/5">
                <img src="/assets/html.png" alt="">HTML5
              </li>
              <li class="flex items-center gap-2 px-3 py-3 border border-amber-950 rounded-full text-sm font-medium w-fit bg-white/5">
                <img src="/assets/css.png" alt="">CSS
              </li>
              <li class="flex items-center gap-2 px-3 py-3 border border-amber-950 rounded-full text-sm font-medium w-fit bg-white/5">
                <img src="/assets/interfaz.png" alt="">Diseño responsivo
              </li>
              <li class="flex items-center gap-2 px-3 py-3 border border-amber-950 rounded-full text-sm font-medium w-fit bg-white/5">
                <img src="/assets/interfaz.png" alt="">UX/UI
              </li>
              <li class="flex items-center gap-2 px-3 py-3 border border-amber-950 rounded-full text-sm font-medium w-fit bg-white/5">
                <img src="/assets/bdd.png" alt="">Sistema de Reservas
              </li>
              <li class="flex items-center gap-2 px-3 py-3 border border-amber-950 rounded-full text-sm font-medium w-fit bg-white/5">
                <img src="/assets/interfaz.png" alt="">Laravel
              </li>
            </ul>
          </section>

          <section class="bg-black text-white py-12 text-center">
            <h2 class="text-3xl font-semibold">¿Te gustó Barc.Co?</h2>
            <p class="opacity-80 mt-2">Conectemos y llevemos tu próximo proyecto al siguiente nivel.</p>
            <a href="../index.astro/contacto" class="mt-4 inline-block bg-white text-black px-6 py-3 rounded-full font-bold">Contacto</a>
          </section>



          <script type="module" src="/src/scripts/init-aos.js"></script>
    </body>
</html>